html
    head
        link(rel="stylesheet" href="css/results.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        title Results
    body
        form(action="/results", method="get") 
            div(id="navigation")
                div  
                    input(type="search", placeholder="Search ..." name="search" style="float:left")
                    button
                        i(class="material-icons" style="font-size: 1rem") search
                div
                    i(class="material-icons" style="font-size: 3rem ; float:right ; text-align: top") account_circle
            
        div(id= "main-grid")
            if users.length > 0
                each user of users 
                    form(action="/startchat", method="post") 
                        div(id="convo-box")
                            div(id="userinfo")
                                h1 
                                    = user.username
                                p bio if any
                                input(type="hidden", name="recipient" value=`${user.username}`)
                            button(id="message-btn",type ="submit")
                                i(class="material-icons" style="font-size: 500%") message
            else
                div(id="convo-box")
                            div(id="userinfo")
                                h1 NO USERS WITH THIS NAME FOUND