html
    head
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/style.css")
        link(rel="stylesheet" href="css/login.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        title            
body
    form(action="/createuser", method="post") 
        h1 Enter your username
        input(type="text" name = "username" required)
        h1 select a password
        input(type="password" name = "password" required)
        input(type="submit" value = "" )